* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --br: 30px;
}

img {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 39px 0 8px 0;
    margin: 0;
    font-size: 22px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
    justify-content: start;
}

.items {
    /* background: lightseagreen; */
    color: white;
    padding: 10px;
}

.sidebar {
    background-color: #bd6b9f;
    position: fixed;
    border-radius: var(--br);
    height: 80vh;
    width: 200px;
    grid-area: sidebar;

}


.home {
    grid-column-start: 2;
    border-radius: var(--br);
    /* height: 80vh; */
    justify-items: end;

}


@media only screen and (max-width: 900px) {
    body {
        background-color: lightblue;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;
        display: grid;
        3fr;

    }

    .sidebar {
        background-color: red;
        position: fixed;
        height: 80vh;
        width: 200px;

    }

    .home {
        display: grid;

    }

    img {
        padding-top: 10px;
    }


}

@media only screen and (max-width: 753px) {
    body {
        background-color: grey;
    }


    .items {}

    .sidebar {
        height: auto;
        position: absolute;
        width: 100%;
        text-align: center;

    }

    .home {
        position: relative;
    }

    img {
        padding-top: 10px;
        position: relative;
        top: 100px;
    }
}